*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}
body{
    background-color:#040c18;
}.gradient{
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 28, 53, 1) 27%, rgba(4, 12, 24, 1) 100%);
}